body{
    font-family: "Englebert", cursive;
    background-color: rgb(167, 22, 22);
}
.logo{
    height: 15%;
    width: 15%;
    margin-left: 43%;
}
.migo{
    text-align: center;
    color: aliceblue;
}
.dolar{
    width: 2%;
    margin-left: 43%;
}
.euro{
    height: 2%;
    width: 2%;
    margin-left: 43%;
}
.todo{
    text-align: center;
    color: rgb(8, 8, 8);
    margin-top: 2%;
}
.tinto{
    text-align: center;
    color: rgb(8, 8, 8);
    margin-top: 2%;
}
.mone{
    text-align: center;
    color: rgb(8, 8, 8);
    margin-top: 2%;
}